@charset "UTF-8";

:root {
    --paynesGray: #535971;
    --antiFlashWhite: #EFEFEF;
    --crayola: #FF5374;
}

/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    background: var(--antiFlashWhite);
    font-family: 'Poppins', sans-serif;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
    height: 436px;
    background: var(--paynesGray);
}

/* Page */
.page {
    width: 750px;
    margin: 0 auto;
}

/* Header */
header {
    margin-top: 140px;
    color: var(--antiFlashWhite);
}

header h1 {
    font-family: 'Staatliches', sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 18px;
}

header p {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 417px;
    
}

/* Form */
form {
    background: white;
    width: 750px;
    margin-top: 58px;
    border: none;
    border-radius: 20px 20px 0 0;
    padding: 64px;
}

/* Fieldset */
fieldset {
    border: none;
}

fieldset legend {
    color: var(--paynesGray);
    font-family: 'Staatliches', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    border-bottom: 1px solid #E6E6F0;
    padding-bottom: 16px;
}

fieldset input {
    width: 300px;
    height: 56px;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
    background: #FAFAFC;
    padding: 15px;
}

fieldset span {
    color: #C1BCCC;
}

fieldset p {
    font-family: 'Staatliches', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    color: var(--paynesGray);
}

/* Informações Pessoais */
.mentee-name-surname {
    display: flex;
    align-items: center;
    gap: 22px;
    margin-top: 36px;
}

.input-name-surname {
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 100%;
    margin-bottom: 16px;
}

.mentee-email-password {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 30px;
}

.mentee-email-password input {
    width: 100%;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Informações do Mentor */
.mentor-information {
    margin: 32px 0; /* Top and bottom = 32px / sides = 0 */
}

.mentor-information input {
    width: 100%;
}

/* Seus Horários Disponíveis */
.mentoring-schedules {
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    gap: 16px;
}

.mentoring-hours-date {
    display: flex;
    align-items: center;
    margin-top: 8px;
    gap: 32px;
}

.mentoring-date {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.mentoring-date label {
    margin-bottom: 8px;
}

.mentoring-hours {
    display: flex;
    gap: 10px;
}

.mentoring-hours label {
    margin-bottom: 8px;
}

.mentoring-hours-begin {
    display: flex;
    flex-direction: column;
}

.mentoring-hours-begin input, .mentoring-hours-end input {
    width: 140px;
}

#mentoring-end {
    margin-top: 8px;
}

/* Footer */
footer {
    background: var(--paynesGray);
    width: 750px;
    height: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0 0 8px 8px;
    margin-bottom: 50.2px;
}

footer input {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 608px;
    padding: 15px 40px;
    background-color: var(--crayola);
    color: var(--antiFlashWhite);
    border: none;
    border-radius: 20px;
    font-family: 'Staatliches', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    transition: all .3s;
}

footer input:hover {
    cursor: pointer;
    background: #d1435f;
    transition: all .3s;
}