body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: linear-gradient(180deg, rgba(227, 255, 248, 0) 82.08%, rgba(227, 255, 248, 0.38) 100%);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
}

ul {
    font-family: 'Mulish', sans-serif;
    list-style: none;
    display: flex;
    gap: 48px;
    margin: 0;
    padding: 0;
}

a {
    color: #1F1534;
    text-decoration: none;
}

ul li a:hover {
    font-weight: bold;
}

main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page {
    width: 1000px;
    margin: 65px auto 0; /* Top, sides, bottom */
}

h1 {
    font-family: 'Mulish', sans-serif;
    font-size: 49px;
    font-weight: normal;
    line-height: 56px;
    color: #1F1534;
    width: 490px;
}

h1 span {
    color: #89C5CC;
    font-weight: bold;
}

p {
    font-size: 14px;
    line-height: 28px;
    color: #7D7987;
    margin: 40px 0; /* 40px top&bottom, 0 sides */
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 14px 32px 15px; /* Top, sides, bottom */
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    background: #69B99D;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #4ea788;
}

footer {
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    margin-top: 80px;
}

footer a {
    font-weight: bold;
}