@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    background: #ECE9FD;
    padding: 60px 23px 66px;
}

h1 {
    font-family: 'Epilogue', sans-serif;
}