@charset "UTF-8";

:root {
    --englishViolet: #3F3D56;
    --fuchsia: #EE24FF;
    --gray: #828282;
    --antiFlashWhite: #ECEFF2;
}

body {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    color: var(--gray);
    margin: 0;
    padding: 0;
}

main {
    margin: 64px 199px 240px;
    text-align: center;
}

main h1 {
    font-family: 'Dosis', sans-serif;
    color: var(--englishViolet);
    font-size: 32px;
}

main h1 span {
    color: var(--fuchsia);
}

main p {
    font-size: 15px;
    text-align: center;
    margin: 16px 36px 32px 50px;
}

main p span {
    font-weight: 700;
    color: var(--englishViolet);
}

footer a {
    border: 1px solid white;
    color: var(--englishViolet);
    text-decoration: none;
    font-weight: 700;
    border-radius: 6px;
    padding: 8px;
    transition: all .3s;
}

footer a:hover {
    border: 1px solid #3f3d5669;
    box-shadow: 3px 3px 9px #3f3d5669;
    transition: all .3s;
}

footer a + a {
    margin-left: 30px;
}

footer img {
    position: static;
    width: 100%;
}