@charset "UTF-8";

/* Global Settings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-size: 62.5%;
    --raisinBlack: #202024;
    --lapisLazuli: #065E7C;
    --cerulean: #387E96;
    --ghostWhite: #F6F8FF;
}

html, body, input {
    font-family: 'Mulish', sans-serif;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2.6rem;
    padding: 1.2rem 2.8rem 1.2rem 2.8rem;
    background-color: var(--lapisLazuli);
}

header form {
    flex: 1;
}

header .avatar {
    width: 4.2rem;
    height: 4.2rem;
    object-fit: cover;
    border-radius: 50%;
}

.input-wrapper label {
    width: 1px;
    height: 1px;
    overflow: hidden;
    position: absolute;
}

.input-wrapper input {
    width: 100%;
    padding: 1.2rem 1.6rem;
    background-color: var(--cerulean);
    border: none;
    border-radius: .4rem;    
}

.input-wrapper input::placeholder {
    font-size: 1.6rem;
    font-weight: 600;
    opacity: 0.70;
    color: var(--ghostWhite);
}