* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    font-family: 'Mulish', sans-serif;
    font-size: 62.5%;
    --color-base-white: #FFFFFF;
    --color-base-gray-100: #F5F5F5;
    --color-base-gray-300: #8D8D99;
    --color-base-gray-900: #202024;
}

body {
    font-size: 1.6rem;
    background: var(--color-base-white);
    color: var(--color-base-gray-900);
}

#app {
    display: grid;
    grid-template-rows: max-content 1fr max-content;
    height: 100vh;
}

.container {
    padding: 1.6rem 3.2rem;
    width: min(112rem, 100%);
    margin: 0 auto;
}

header, nav, nav ul {
    display: flex;
    align-items: center;
    gap: 7.2rem;
    font-weight: 700;
}

header form {
    flex: 1; /* Preenche todo o espaço disponível para ele */;
}

nav ul {
    list-style: none;
    font-size: 1.8rem;
    color: var(--color-base-gray-300);
}

ul li.active {
    color: var(--color-base-gray-900);
}

.avatar {
    width: 4.2rem;
    height: 4.2rem;
    object-fit: cover; /* Cobre o espaço sem deixar a imagem feia */
    border-radius: 50%;
}

main {
    overflow-y: scroll;
    background: var(--color-base-gray-100);
}

footer p {
    text-align: center;
    font-weight: 600;
    padding: 1.6rem;
}