@charset "UTF-8";

body {
    font-family: 'Open Sans', sans-serif;
}

.picture {
    margin: 100px;
    display: block;
    align-items: center;
}

#hero {
    width: 592px;
    margin: 0 auto 35px;
    text-align: center;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 49px;
    line-height: 56px;
    font-weight: 400;
    margin-bottom: 32px;
}

h1 span {
    font-weight: 700;
    color: #FF9900;
    margin-bottom: 72px;
}

span, a {
    color: #FF9900;
}

p {
    color: #7D7987;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer, p {
    color: #7D7987;
    font-size: 14px;
    line-height: 28px;
}

footer a + a {
    margin-left: 28px;
}

.line {
    width: 568px;
    height: 0;
    margin: 0 8px;
    border: 1px solid #ECEFF2;
}

.orange-balls {
    position: fixed;
    bottom: 0;
    right: 0;
}