@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    justify-content: center;
    background: #121214;
    padding: 72px 104px;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 370px);
    gap: 48px 60px; /* row-gap: 48px; */ /* column-gap: 60px; */
}

header h1 {
    color: #02799D;
    font-size: 58px;
}

header p {
    color: #E1E1E6;
    font-size: 32px;
}

.card {
    background: #202024;
    border: 2px solid #323238;
    border-radius: 8px;
    overflow: hidden;
}

.card h2 {
    color: #E1E1E6;
    font-weight: 900;
    font-size: 36px;
    padding: 24px 32px 0;
}

.card p {
    color: #C4C4CC;
    font-size: 18px;
    font-weight: 600;
    padding: 24px 32px 32px;
}